@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;700&family=Quicksand:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body, html {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--white);
}

:root {
  --grey: #c6c7c4;
  --accent: #ffa630;
  --accent-dark: #210124;
  --white: #EEF0F2;
  --red: #ef3340;
}

:target {
  scroll-margin-top: 100px;
}

/* HEADRER */

.header {
  font-family: 'Oswald', sans-serif;
  width: 100vw;
  height: 100px;
  background: rgb(239,51,64);
  background: linear-gradient(153deg, rgba(239,51,64,1) 32%, rgba(91,2,2,1) 100%); 
  position: fixed;
  top: 0;
  z-index: 3;
}

/* MENU */

.menu-button-container {
  cursor: pointer;
  height: 20px;
  margin-top: 35px;
}

.menu {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  margin-top: 100px;
  right: 0;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.menu > li {
  display: none;
  margin: 0;
  padding: 1em 0;
  width: 100%;
  background-color: #222;
}

.menu > li:not(:last-child) {
  border-bottom: 1px solid #444;
}

.nav-link {
  text-decoration: none;
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 1.5rem;
}

.nav-link:hover {
  color: var(--accent);
}

#menu-toggle {
  display: none;
}

.menu-button-container,
.menu-button,
.menu-button::before,
.menu-button::after {
  position: fixed;
  right: 30px;
  width: 50px;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: whitesmoke;
  height: 4px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
  margin-top: 8px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle ~ .menu li {
  height: 0;
  margin: 0;
  padding: 0;
  border: 0;
}

#menu-toggle:checked ~ .menu li {
  display: flex;
  justify-content: center;
  border: 1px solid #333;
  height: 3.2em;
  padding: 0.5em;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

/* CONTACT */

.contact {
  color: whitesmoke;
  position: fixed;
  top: 35px;
  right: 15%;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  max-width: 40%;
  font-size: 1.2rem;
  margin-right: 10px;
}

.contact svg {
  fill: whitesmoke;
  width: 25px;
  margin-right: 10px;
}

.cell,
.email {
  display: flex;
  align-items: center;
  font-family: 'Oswald', sans-serif;
}

.cell:hover,
.email a:hover {
  color: var(--accent);
  cursor: pointer;
  fill: var(--accent);
}

.email a {
  text-decoration: none;
  color: whitesmoke;
}

.logo {
  padding: .5em 1em;
}

.logo-img {
  height: 80px;
  filter: brightness(95%);
}

/* PAGE */

.content, 
.home-page,
.about-page,
.service-block {
  width: 85vw;
  margin: 0 auto;
  font-size: 1.5rem;
}

.service-block {
  margin-top: 30px;
  text-shadow: 2px 2px var(--accent-dark);
}

/* TITLE */

.home-page {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-top: 5vh;
  position: relative;
  top: 100px;
  min-height: 100vh;
}

.title-block {
  align-self: flex-end;
  font-family: 'Oswald', sans-serif;
  width: 100%;
  display: flex;
  gap: 5%;
  justify-content: flex-end;
}

.title {
  /* width: 70%; */
  text-align: end;
}

.title-block h1 {
  font-size: 2.5rem;
  color: var(--red);
  font-weight: 700;
}

.title-block h2 {
  font-size: 1.5rem;
  font-weight: 800;
}

h2, p, li {
  font-family: 'Quicksand', sans-serif;
}

.title h2 {
  border-bottom: var(--accent) 8px solid;
}

/* .title h2::before {
  content: "";
  position: absolute;
  width: 530px;
  height: 15px;
  transform: skew(12deg);
  background: var(--accent);
  opacity: 70%;
  z-index: -1;
  margin-top: 20px;
} */

.headshot {
  width: 25%;
  max-width: 400px;
  min-width: 200px;
  /* position: relative;
  top: -80px;
  left: -37vw; */
}

.items {
  display: flex;
  margin-top: 2em;
}

.item {
  padding: 1em;
  margin: 0 1em 2em 1em;
  transition: .4s ease-in-out;
}

.item:hover {
  transform: scale(1.2);
  /* border-bottom: 7px solid var(--accent); */
}

.item a {
  text-decoration: none;
  color: black;
}

.item h3 {
  font-weight: bold;
  font-size: 1.4rem;
}

.item p {
  font-size: 1.2rem;
  margin-top: .5em;
  letter-spacing: .05em;
}

/* SERVICES */

.wrapper {
  color: var(--white);
  width: 100vw;
  padding: 2vw;
  min-height: 100vh;
}

.red {
  background-color: var(--red);
  background-image: url('./Imgs/cranes-02.png');
  background-position-y: 60%;
  background-position-x: 80%;
  /* background-size: cover; */
  /* mix-blend-mode: luminosity; */
}

.purple {
  background: var(--accent-dark);
}

.services-page {
  /* margin: 0 auto; */
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  /* gap: 5vw; */
}

.service-title {
  font-size: 1.4rem;
  text-align: center;
  margin-bottom: 1em;
}

.service-intro {
  /* font-size: 1.2rem; */
  margin-bottom: 2em;
  /* height: 8vh; */
}

.accent-word {
  font-size: 1.3rem;
  letter-spacing: .05em;
  font-weight: bold;
}

.service-list {
  /* font-size: 1rem; */
  padding: 1em;
}

.service-list-item {
  padding-left: 1em;
  margin-bottom: 1em; 
  letter-spacing: .01em;
}

.list-accent {
  font-size: 1.1em;
}

/* ABOUT PAGE */

.about-page {
  min-height: 100vh;
  padding: 2vw;
}

.about-title {
  text-align: center;
  font-size: 1.4rem;
  padding: 1em;
}

/* .about-title::before {
  content: "";
  position: absolute;
  width: 162px;
  height: 8px;
  transform: skew(12deg);
  background: var(--accent);
  opacity: 70%;
  z-index: -1;
  margin-top: 20px;
} */

.about-subtitle {
  text-align: center;
  margin-bottom: 1em;
  letter-spacing: .04em;
  font-size: 1.2rem;
}

.about-list {
  margin: 1em 0 2em;
}

.about-list-header {
  font-size: 1.3rem;
}

.about-list-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
  align-items: baseliune;
  font-size: 1.1rem;
}

.list-item-subtitle {
  /* font-size: 1.5vw; */
  font-weight: 600;
  width: 20%;
}

.list-item-body {
  text-align: right;
  font-size: 1.1rem;
}

.footer {
  width: 100vw;
  height: 50px;
  background: var(--red);
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: 600;
}

@media screen and (max-width: 905px) {
  .contact {
    flex-direction: column;
    margin-right: 120px;
    font-size: 1rem;
    top: 15px;
    right: 0;
  }

  .title h1 {
    font-size: 2rem;
  }

  .title h2 {
    font-size: 1.2rem;
  }

  /* .title h2::before {
    display: none;
  } */
}

@media screen and (max-width: 780px) {
  .home-page, .wrapper {
    min-height: 100%;
  }

  .title h2::before {
    display: none;
  }
  
  .items {
    width: 100%;
    flex-direction: column;
    margin-top: 20px;
  }

  .item {
    padding: .5em; 
  }

  .item:hover {
    transform: scale(1.1)
  }

  .service-block {
    font-size: 1rem;
  }

  .service-intro {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 680px) {
  .logo {
    padding: 1.2em .5em;
  }
  
  .logo-img {
    height: 50px;
  }

  .contact {
    font-size: .9rem;
    gap: 0;
    top: 25px;
  }

  .contact svg {
    display: none;
  }

  .title-block {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .headshot {
    min-width: 150px;
    order: 2;
    margin-top: 20px;
  }

  /* .title h2::before {
    display: none;
    width: 433px;
  } */

  .item {
    margin-bottom: 1em;
  }

  .item h3 {
    font-size: 1rem;
  }

  .service-intro {
    height: auto;
    margin-bottom: 1em;
  }

  .about-list-item {
    display: block;
    letter-spacing: .05em;
  }

  .list-item-subtitle {
    font-size: 1.2rem;
    font-weight: 600;
  }

  .list-item-body {
    margin-top: .5em;
  }

  .footer {
    font-size: .7rem;
  }
}